*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://image.ibb.co/cO9Lxq/login-bg.jpg);
}

#wrapper {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between */
    padding: 50px;
}
#left{
    float: left;
}
#right{
    /* flex: 0 0 65%; */
    float: right;
    color: whitesmoke;
    text-align: center;
}
#main-footer > div > a{
    border-right: 1px solid #adabab;
    padding: 3px;
}
#main-footer > div > a:last-child {
    border-right: none;
}
